body{
    margin:0;
    font-family: Arial,  sans-serif;
}

header{
    background-color: #fff ;
    color: #04c9f4;
    text-align: center;
}
#sectionmain{
    width:100vw;
    height:90vh;
    background-color: #e7e7e7;
    display: flex;
    justify-content: center;
    align-items: center;

}
#sectionlogin{
    text-align: center;
    background-color: #d9d9d9;
    width: 30%;
    height: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
    box-shadow: 1px 5px 5px rgb(178, 178, 173);

}
input{
    width: 80%;
    padding: 10px;
    border: 0;
    
    
}

img{
   width: 40%;
}
button{
    background-color: #04c9f4;
    color: #fff;
    border: 0px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: medium;
}
a{
    
    text-decoration: none;
    
}
footer{
    background-color: #e7e7e7;
    padding: 10px;
}
@media screen and (max-width:1300px) {
    #sectionlogin{
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
      
    }
    img{
        width:200px;
    }
    
}