body{
    margin:0;
    font-family: Arial,  sans-serif;
}
#sectionmainhome{
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap ;
}

#sectionmenu{
    background-color: #d9d9d9;
    height: 90vh;
    width: 20%;
    display: flex;
    flex-direction: column;
}
.abas{
    width:100%;
    height: 5%;
    border-top: solid 1px;
    border-color: white;
    text-align: center;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    
}
.abascadastro{
    width: 100%;
    height: 5%;
    border-top: solid 1px;
    border-color: white;
    text-align: center;
    background-color:#04c9f4;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    
}
a{
    color: #fff;
    text-decoration: none;
}

a:active{
    color: black;
}
a:visited{
    color: black;
}
#sectionlogo{
    background-color: rgba(254, 251, 251, 1);
    width: 100%;

}
#bemvindo{
    background-color: #04c9f4;
    color: #fff;
    height: 8%;
    display: flex;
    justify-content: left;
    padding-left: 10px;
}
#logohome{
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#rodape{
    background-color: #fff;
    color: #04c9f4;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;


}
form{
    background-color: #d9d9d9;
    height: 30%;
    width: 50%;
    padding: 10px;
    color: #fff;
    display: grid;
    grid-template-rows: 10% 20% 20% 20% 10% 20%;
    grid-template-columns: 15% 85%;
    grid-auto-flow: row;
    justify-items: normal;
    align-items: normal;
   
    

    
   
   
   
    
    
}
.textos{

    padding-bottom: 10px;
    
}
#nome{
    width: 90%;
   
}
#telefone{
    width: 90%;
    
}


#cadastrocidade{
    background-color: #04c9f4;
    color: #fff;
    height: 8%;
    display: flex;
    justify-content: left;
    padding-left: 10px;
}
#formcidade{
    background-color: rgba(254, 251, 251, 1);
    height: 50%;
    padding-left:10px;
    padding-top: 10px ;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    
    
}

input{
    height: 95%;
    width: 80%;
    font-size: large;
    border: 0;
}
#botoes{
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
button{
    margin:10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 0;
}
.botaoazul{
    background-color: #04c9f4;
    color: #fff;
}
#botaovermelho{
    background-color: #f40404;
    color: white;
}
#botaobranco{
    background-color: #fff;
    color: #04c9f4;
}
#botaoverde{
    background-color: green;
    color: white;
}
#botaoamarelo{
    background-color: orange;
    color: white;
}
#botoespretos{
    height: 40%;
}
.botoespretos{
    background-color: black;
    color: white;
    width: 84px;
    height: 48px ;

}
#endereco{
    width:90%;
}
@media  (max-width:1300px) {
    body{
        width:80%;
    }
    #sectionmenu{
        width:30%;
    }
    #botoes{
        display: flex;
        flex-wrap: wrap;
    }
    form{
        width:90%;
        display: grid;
        grid-template-columns: 40% 60%;
    }
    #logohome{
        width: 95%;
    }
   
    
    
    
    
}