header,article,h1{
    padding: 20px;
}
header{
    background-color: black;
    border: solid 5px; 
    text-align: center;
}
article{
    border: solid 5px;
    border-color:gray
}
h1{
    font-size:24px;
    margin:0px;
    padding:5px;
}
s
p{
    color:white;
    text-align:center
}

footer{
    background-color:black;
    text-align:center;
    font-size:16px;
    color:white;
    margin:0px;
    border: solid 25px;
    border-color:black;
}