*{
    margin: 0;
    padding: 0;
}

body{
    padding: 40px;
    margin-top: 20vh;
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
}

p{
    color: black;
}
#btTMB{
    padding: 10px;
    background-color: rgb(17, 218, 17);
}

#btTMB:hover{
    background-color: rgb(1, 83, 1);
}

#botao{
    padding: 20px;
}
